################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImportBatchClientApp/obj
/.vs/ImportBatchClientApp
/ImportBatchClientApp/bin/Debug/net6.0
