################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImportBatchClientApp/obj
/.vs/ImportBatchClientApp
/ImportBatchClientApp/bin/Debug/net6.0
/.vs/ProjectEvaluation/importbatchclientapp.metadata.v7.bin
/.vs/ProjectEvaluation/importbatchclientapp.projects.v7.bin
